header {
  height: 80px;
  line-height: 70px;
  background: #fff url(/img/cloud-bar.png) center top repeat-x;
  box-shadow: inset 0 -1px 0 #dee0df;
  padding: 10px 50px 0 50px;

  .logo {
    float: left;
    display: block;
    background: url(/img/laravel-logo.png) left center no-repeat;
    background-size: 36px auto;
    height: 70px;
    line-height: 70px;
    text-decoration: none;
    padding-left: 48px;
    font-size: 24px;
    font-weight: 100;

    span {
      color: #999;
    }
  }


  .breadcumbs {
    @include clear;
    margin-bottom: 20px;
    float: left;

    .separator,
    .label {
      display: inline-block;
      text-decoration: none;
      line-height: 16px;
      height: 28px;
      padding: 6px 0.833em;
    }
  }


  nav {
    user-select: none;
    float: right;

    a,
    .dropdown {
      color: #525252;
      text-decoration: none;
      font-size: 15px;
      cursor: pointer;
      position: relative;
      margin: 0 0 0 25px;

      &:hover {
        color: #f4645f;
      }
    }

    .dropdown {
      &:after {
        margin-left: 5px;
        @include fa-icon;
        content: $fa-var-angle-down;
        transition: .3s $swift;
      }

      nav {
        z-index: 999;
        background: #fff;
        position: absolute;
        width: 200px;
        padding: 5px 0;
        border-radius: 2px;
        right: -5px;
        top: -9999px;
        margin-top: 0;
        opacity: 0;
        box-shadow:
          inset 0 0 0 1px #dee0df,
          0 2px 6px rgba(#000, .2);
        transition:
          margin .3s $swift,
          opaity .3s $swift;

        a {
          line-height: 14px;
          height: 34px;
          padding: 10px 15px;
          margin: 0;
          display: block;
          float: left;
          width: 200px;

          &:hover {
            background: #f4645f;
            color: #fff;
            transition: .2s $swift;
          }
        }
      }

      &.active {
        color: #f4645f;
        &:after {
          transform: rotate(-180deg);
        }
        nav {
          top: 20px;
          margin-top: 10px;
          opacity: 1;
        }
      }
    }
  }
}
