.users {
  @include clear;

  .user {
    @include clear;
    float: left;
    border-radius: 2px;
    padding: 10px 10px;
    width: 530px;
    margin: 0 10px 30px 10px;
    background: #fff;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(#f4645f, 0);
    overflow: hidden;

    &:hover {
      transition: box-shadow .2s $swift;
      box-shadow: 0 0 0 2px #f4645f;
    }

    img {
      width: 80px;
      height: 80px;
      float: left;
      border-radius: 2px;
      margin: 0 10px 0 0;
      background: #f0f0f0;
      box-shadow: 0 0 0 2px #fff;
    }

    .highlight {
      color: darken(#f4645f, 20%);
    }

    .name,
    .login,
    nav {
      display: block;
      width: 420px;
      float: left;
      clear: right;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .name,
    .login {
      font-weight: 300;
      color: #525252;
      font-size: 22px;
    }

    .name {
      font-size: 14px;
    }

    .user-karma{
      position: absolute;
      right: 4px;
      top: 4px;
      width: 24px;
      height: 24px;
      color: #fff;
      background: #f4645f;
      border-radius: 2px;
      font-size: 12px;
      text-align: center;
      line-height: 25px;
      font-weight: 300;
      font-style: italic;
    }

    nav {
      margin-top: 10px;
      padding: 5px 0 0 0;
      box-shadow: 0 -1px 0 #dee0df;

      .separator,
      a {
        float: right;
        color: #888;
        text-decoration: none;
      }

      a:hover {
        color: #f4645f;
        text-decoration: underline;
      }

      .separator {
        font-weight: 100;
        margin: 0 10px;
      }
    }
  }
}