.achievements {
  .item {
    &.empty {
      img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray; /* IE 6-9 */
      }
    }

    .content {
      width: 345px;
    }
  }
}

