.search {
  padding: 40px 0;

  input[type=text] {
    line-height: 50px;
    height: 50px;
    width: 100%;
    font-size: 18px;
    padding: 0 20px;

    @include placeholder {
      font-weight: 100;
    }
  }

  h2 {
    font-weight: 300;
    color: lighten($color-description, 15%);
    font-size: 28px;
    text-align: center;
    transition: color .1s $swift;
  }

  .search-description {
    font-style: italic;
    text-align: left;

    &:before {
      @include fa-icon;
      position: relative;
      margin: 0 15px 0 25px;
      top: -10px;
      transform: rotate(180deg);
      content: $fa-var-level-down;
      font-weight: 100;
    }
  }

  input:focus + .search-description {
    color: $color-description;
  }
}