@charset "utf-8";

$fa-font-path: "/fonts/font-awesome";
$fa-css-prefix: fa;

@import "vendor/normalize";
@import "vendor/utils";
@import "vendor/960gs";
@import "vendor/font-awesome";

$width:             960px;
$height:            32px; // Ui size

$swift:             cubic-bezier(.55, 0, .1, 1);

$color-main:        #f4645f;
$color-alert:       #f4645f;
$color-warning:     #d9a910;
$color-info:        #64b5f6;
$color-ok:          #28bc00;
$color-border:      #dee0df;
$color-description: #aaa;
$color-dark:        #27272b;

@import "ui/fonts";

body {
  @include font-optimize;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  color: #222;
  min-height: 100%;
  opacity: 0;
  transition: opacity .4s $swift;

  &.loaded {
    opacity: 1;
  }

  & > main {
    min-height: inherit;
    position: relative;
  }

  a {
    color: $color-main;

    &.active,
    &:hover {
      color: darken($color-main, 20%);
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-family;
  }

  h3 {
    text-align: center;
  }

  .hidden {
    display: none;
  }

  hr {
    display: block;
    border: none;
    height: 1px;
    margin: $height 0;
    background: #ddd;
  }
}

@import "components/dropdown";

@import "common/header";

