@charset "utf-8";

@import "vendor/normalize";
@import "vendor/utils";
@import "vendor/960gs";
@import "vendor/font-awesome";

@import "ui/fonts";

$width:             960px;
$height:            32px; // Ui size

$font:              'FiraSans', Helvetica, Tahoma, sans-serif;

$swift:             cubic-bezier(.55, 0, .1, 1);

$color-main:        #f4645f;
$color-alert:       #f4645f;
$color-warning:     #d9a910;
$color-info:        #64b5f6;
$color-ok:          #28bc00;
$color-border:      #dee0df;
$color-description: #aaa;
$color-dark:        #27272b;


@import "ui/typo";
@import "ui/button";
@import "ui/input";
@import "ui/checkbox";
@import "ui/infobox";
@import "ui/preloader";

@import "common/master";
@import "common/header";
@import "common/list";

@import "page/search";
@import "page/achievements";
