@charset "utf-8";

$font: (
        size: 14px,
        weight: 400,
        family: ("FiraSans", Helvetica, Arial, sans-serif),
        mono:   ("FiraMono", "Consolas", "Menlo", "Courier", monospace)
);

$width: 1100px;

@import "vendor/font-awesome";
@import "vendor/normalize";
@import "vendor/utils";
@import "ui";

html,
body {
  @extend .font-optimize;
  min-height: 100%;
  color: #333;
  min-width: $width;

  font: {
    family: map-get($font, family);
    size: 14px;
    weight: 400;
  }
}


body {
  overflow-y: scroll;
  background: #f1f1f1;

  * {
    box-sizing: border-box;
  }

  a {
    color: #f4645f;
    text-decoration: underline;

    &:hover {
      color: darken(#f4645f, 10%);
    }
  }

  .content {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
  }

  h1 {
    font-size: 38px;
  }

  h1, h2, h3 {
    font-weight: 100;
    color: #525252;
  }

  h3 {
    font-weight: 300;
  }
}


.achievements {
  @extend .content;
  @include clear;
  padding: 30px 0;

  h1 {
    text-align: center;
    padding-bottom: 20px;
  }

  .achieve {
    @include clear;
    float: left;
    border-radius: 2px;
    padding: 10px 10px;
    width: 530px;
    margin: 0 10px 30px 10px;
    background: #fff;
    position: relative;
    cursor: default;
    box-shadow: 0 0 0 2px rgba(#f4645f, 0);
    overflow: hidden;

    &.achieve-disabled {
      background: #f2f2f2;
      box-shadow: 0 0 0 2px #dee0df;
      transition: .3s $swift;
      img {
        opacity: .7;
        transition: .3s $swift;
        filter: grayscale(70%);
      }

      h2, .achieve-description {
        opacity: .4;
        transition: .3s $swift;
      }

      &:hover {
        background: #fff;
        img, h2, .achieve-description {
          opacity: 1;
        }
      }
    }

    &:hover {
      transition: .2s $swift;
      box-shadow: 0 0 0 2px #f4645f;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 4px;
      float: left;
      margin-right: 16px;
    }

    h2,
    .achieve-description {
      margin: 0;
      float: left;
      display: block;
      width: 430px;
    }

    .achieve-users,
    .achieve-description {
      margin-top: 6px;
      font-size: 13px;
      font-style: italic;
      color: #999;
    }

    .achieve-users {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 11px;
      font-style: normal;
    }
  }
}


@import "layout/header";
@import "layout/search";
@import "layout/profile";
@import "layout/users";



