$list-width: 180px;
$list-height: 80px;
$list-hover: .4s;

.items-list {
  @include clear;
  padding: 15px 0;

  .item {
    border-radius: 3px;
    box-shadow: 0 0 0 1px $color-border;
    height: $list-height;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;

    .avatar {
      border-radius: 3px 0 0 3px;
      background: $color-dark;
      height: $list-height;
      display: block;
      float: left;
      width: 75px;
      padding: 0;
      margin: 0 40px 0 0;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        background: $color-dark;
        width: 36px;
        right: -20px;
        top: -12px;
        display: block;
        transform: rotate(25deg);
        height: 90px;
      }

      .counter {
        background: $color-main;
        position: absolute;
        width: 100%;
        padding: 4px 0 4px 6px;
        color: #fff;
        font-size: 11px;
        cursor: default;
      }

      figure {
        position: relative;
        z-index: 3;
        display: block;
        border-radius: 50%;
        width: ($list-height - 20px);
        height: ($list-height - 20px);
        margin: 10px 10px 10px 15px;
        box-shadow:
          0 0 0 3px $color-dark,
          0 0 0 1px rgba(#fff, .2);
        background: #fff;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          position: relative;
          z-index: 3;
        }

        .preloader {
          width: 20px;
          height: 20px;
          margin: -10px 0 0 -10px;
        }
      }
    }

    .content {
      width: $list-width;
      height: inherit;
      float: left;
      position: relative;
      z-index: 4;
      padding: 5px 0 0 0;

      h4 {
        margin: 0 0 5px 0;
        font-weight: 300;
      }

      h5 {
        font-size: 13px;
        color: $color-description;
        font-weight: normal;
        margin: 5px 0 0 0;
        line-height: 16px;
      }
    }

    &:hover {
      box-shadow: 0 0 0 1px $color-main;
      transition: box-shadow $list-hover $swift;

      .avatar {
        figure {
          box-shadow:
            0 0 0 3px $color-main,
            0 0 0 50px rgba(#fff, .2);
          transition: box-shadow $list-hover $swift;

          img {
            transform: scale(1.1);
            transition: transform $list-hover $swift;
          }
        }
      }

      h4 {
        color: $color-main;
        transition: color $list-hover $swift;
      }
    }

    &.empty {
      .counter {
        background: $color-border;
        color: $color-dark;
      }
    }
  }
}