@keyframes button-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg)
  }
}

.preloader {
  width: auto;
  padding: 10px 15px;
  background: #f4645f;
  border-radius: 2px;
  color: #fff;
  position: absolute;
  right: 15px;
  bottom: 20px;
  opacity: 0;
  z-index: 9999;
  box-shadow: 0 2px 5px rgba(#000, .1);
  transition:
      opacity .3s $swift .3s,
      bottom .3s $swift .3s;

  &.visible {
    opacity: 1;
    bottom: 30px;
    transition: none;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 15px;
    border: transparent 8px solid;
    border-top-color: #f4645f;
    bottom: -16px;
  }

  .circle {
    $size: 18px;

    position: relative;
    display: block;
    width: $size;
    height: $size;
    float: right;
    margin-left: 15px;

    &:before,
    &:after {
      position: absolute;
      content: '';
      top: -2px;
      left: -2px;
      width: $size;
      height: $size;
      border-radius: 50%;
      box-shadow: 0 0 0 1px transparent;
    }

    &:before {
      border: rgba(#000, .4) 2px solid;
    }

    &:after {
      animation: button-spin .6s linear;
      animation-iteration-count: infinite;
      border: transparent 2px solid;
      border-left-color: #fff;
    }
  }
}


.preloader-section {
  $size: 32px;

  position: relative;
  display: block;
  width: 100%;
  height: $size;
  float: right;
  margin: 100px auto;

  &:after {
    position: absolute;
    content: '';
    top: -2px;
    left: 50%;
    margin-left: (-$size / 2 - 2);
    width: $size;
    height: $size;
    border-radius: 50%;
    box-shadow: 0 0 0 1px transparent;
  }

  &:after {
    animation: button-spin .6s linear;
    animation-iteration-count: infinite;
    border: transparent 2px solid;
    border-left-color: #f4645f;
  }
}