h1 {
  width: auto;
  margin: 20px 0 0;
  padding: 0;
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
}

h2 {
  margin: 0;
  padding: 25px 0;
  box-shadow: none;
  font-style: normal;
  text-shadow: none;
  font-size: 34px;
  text-transform: none;
  color: #ccc;
  text-align: left;
  letter-spacing: 0;
  font-weight: 500;
}

h3 {
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 15px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  margin: 10px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0;
  font-size: 13px;
  line-height: 21px;
  font-weight: 700;
}

h6 {
  margin: 10px 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  .alter-header {
    color: #000;
  }
}

p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

blockquote {
  color: #666;
  font-style: italic;
  padding: 0;
  margin: 5px 0;
}